/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// @import "bootstrap-sprockets";
// @import "bootstrap";

// Config
@import "config/utilities";
@import "config/variables";

// Components
@import "components/images";
@import "components/navbar";


body {
  font-family: 'Raleway', sans-serif;
  background-color: #F4F4F4;
}

.home-title {
  letter-spacing: 1px;
  font-size: 25px;
}

.img-fit-2 {
  width: auto;
  height: 300px;
  margin: 20px auto;
}

.pictures-section {

}


.pb-40 {
  padding-bottom: 40px;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  border: 1px solid silver;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}

.nowrap  {
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
