<h1 class="home-title">bastien gason</h1>

<%= link_to "/o2team" do %>
   <%= image_tag "IMG_8129.jpg", class: "img-fit" %>
<% end %>

<%= link_to "/mugshots" do %>
   <%= image_tag "IMG_7898.jpg", class: "img-fit" %>
<% end %>
